<%= simple_nested_form_for(@instructor, html: { class: 'form-horizontal' }) do |f| %>
   
   <h3><%= controller.action_name.capitalize %> Instructor</h3>
    
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone, as: :string %>
    <%= f.input :email %>
    <%= f.input :active %>
    <%= f.input :bio, input_html: { rows: 6 } %>
  <h3> User for this Instructor</h3>
  <div id="instructor_user">
    <%= f.simple_fields_for :user do |user_form| %>
      <%= render :partial => "partials/user_fields", :locals => { :f => user_form } %>
    <% end %> 
    <% if @instructor.user.nil?%>
    <p>
      <br /><%= f.link_to_add("Add User", :user, :class => 'button tiny') %>
    </p>
    <% end %>
  </div> 

    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of instructors', instructors_path, :class => 'button secondary radius' %>
    </div>

<% end %>
