  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to image_tag('amcc_logo.png'), home_path %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <!-- options for curriculums -->
          <li class="has-dropdown">
            <%= link_to "Curriculums", curriculums_path %>
            <ul class="dropdown">
              <li><%= link_to "List Curriculums", curriculums_path %></li>
              <li><%= link_to "Add a Curriculum", new_curriculum_path %></li>
            </ul>
          </li>

          <!-- options for camps -->
          <li class="has-dropdown">
            <%= link_to "Camps", camps_path %>
            <ul class="dropdown">
              <li><%= link_to "List Camps", camps_path %></li>
              <li><%= link_to "Add a Camp", new_camp_path %></li>
            </ul>
          </li>

          <!-- options for instructors -->
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Instructors", instructors_path %>
            <ul class="dropdown">
              <li><%= link_to "List Instructors", instructors_path %></li>
              <li><%= link_to "Add an Instructor", new_instructor_path %></li>
            </ul>
          </li>
          <!-- options for login -->
         
          <% if !logged_in? %>
            <li>
            <%= link_to "Click here to login", login_path%>
            </li>
          <% end %>

                   <!-- ADMIN ONLY OPTIONS -->
          <% if logged_in? && current_user.role == "admin" %>
            <li><%= link_to "Family", families_path %></li>
            <li><%= link_to "Students", students_path %></li>
            <li><%= link_to "Locations", locations_path %></li>
          <% end %>
        </ul>

        <% if logged_in? %>
          <ul class="right">
            <li class="has-dropdown">
            <%= link_to "Welcome, #{current_user.instructor.first_name}", user_path(current_user) %>
            <ul class="dropdown">
              <li><%= link_to "Edit settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Logout", logout_path %></li>
            </ul>
          </li>
        <% end %>

        </ul>
      </section>
    </nav>
  </div>